<section id="about">
    <div id="abouttext">
        <h2>Alyansang TAPAT sa Lasallista</h2><br><br>
        <h4>is a <text class="highlight">PROGRESSIVE</text> political organization in the University. We are an organization embodying the creed of creating a <text class="highlight">PRO-STUDENT</text> and <text class="highlight">PRO-PEOPLE</text> student government.
            During the height of student activism in La Salle, Alyansang <text class="highlight">TAPAT</text> sa Lasallista was established during the Marcos regime. Tapat was born out of an alliance of organizations and individuals who believe in the power of active student participation for a common vision.
        </h4>
    </div>
</section>