<hr style="border: 2px solid #992525; width: 100%;">
<div class="comment">
    <div class="usercomment">
        {{username}}
        <div class="vote circle">
            <div class="increment up"><img src="https://img.icons8.com/material-rounded/24/2ecc71/filled-like.png"/></div>
                    <div class="count">{{commentreact}}</div>
                    <div class="increment down"><img src="https://img.icons8.com/material-rounded/24/e74c3c/dislike.png"/></div>
        </div>
    </div>
    <div class="contentcomment">
        {{{commentcontent}}}
    </div>
</div>