<hr style="border: 2px solid #992525; width: 100%;">
<div class="comment">
    <div class="usercomment">
        {{username}}
        <div class="vote circle">
            <div class="increment up"></div>
            <div class="count">{{commentreact}}</div>
            <div class="increment down"></div>
        </div>
    </div>
    <div class="contentcomment">
        {{{commentcontent}}}
    </div>
</div>