<section id="editprof">
    <div class="title" style="padding-bottom: 10vh">
        <h2 style="color:#2f2f2f; font-size: 40px;">Edit Profile</h2>
    </div>
    <div>
        <form>
            <label style="font-family: 'Lato';font-weight: 400;">Put New Username: </label> <input type="text" placeholder="Username">
            <label></label>
            <label style="font-family: 'Lato';font-weight: 400;">Put New Password: </label> <input type="password" placeholder="Password">
            <input type="button" class="logbutton" value="CHANGE">
        </form>
    </div>
</section>