<section id="forum">
    <div class="title">
        <h2 style="color:#2f2f2f; font-size: 40px;">Forum</h2>
        <h4 style="color: #2f2f2f; width: 60%;">Alyansang Tapat Sa Lasallista believes in a lot of things, and one of them is that through Unity and Collective Effort we can achieve greatness. Join us in various discussions that tackle different political issues and society in general.</h4>
        <div style="display: flex;align-items: center;justify-content: center;flex-direction: row;width:20%;">
            {{#if UserLogged}}
            <img src="https://img.icons8.com/ios/25/992525/plus.png">
            <h4 style="color: #992525; width: 60%;"><a href="/create_post">Add a discussion</a></h4>
            {{/if}}
        </div>
    </div>
    
    
    <div id="forumwrap">
        {{#each posts}}
            {{>forumpost}}
        {{/each}}
    </div>
    <input class="buttonhover" type="button" onClick="window.location.href = '/viewall_post';" value="View All Posts"></input>
    

</section>