<section id="login">
    <div class="title" style="padding-bottom: 10vh">
        <h2 style="color:#2f2f2f; font-size: 40px;">Login</h2>
        <h4 style="color: #2f2f2f;">Join the discussions in the forum</h4>
    </div>
    <div>
        <form>
            <label style="font-family: 'Lato';font-weight: 400;">Username: </label> <input type="text" placeholder="Username">
            <label></label>
            <label style="font-family: 'Lato';font-weight: 400;">Password: </label> <input type="password" placeholder="Password">
            <input type="button" class="logbutton" value="LOGIN">
            <label style="font-family: 'Lato'; font-weight: 400;text-align: center;"> OR </label>
        </form>
        <a href="signup.html"><button class="logbutton">SIGNUP</button></a>
    </div>
</section>