<header>
        <div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
          <div class="container">

            <div class="navbar-header">
              <a class="navbar-brand" href="/">Tapat</a>
            </div>
    
            <div class="navigation">
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <nav>
                  <ul class="nav navbar-nav navbar-right">
                    <li class="current"><a href="#intro" class="sliding-link inactiveLink"><text style="color: #CC010101;">Home</text></a></li>
                    <li><a href="#about" class="sliding-link inactiveLink"><text style="color: #CC010101;">Home</text></a></li>
                    <li><a href="#officers" class="sliding-link inactiveLink"><text style="color: #CC010101;">Home</text></a></li>
                    <li><a href="#forum" class="sliding-link inactiveLink"><text style="color: #CC010101;">Home</text></a></li>
                    <li><a href="#contact" class="sliding-link inactiveLink"><text style="color: #CC010101;">Home</text></a></li>
                  </ul>
                </nav>
              </div>

            </div>
    
          </div>
        </div>
    
</header>