<header>
        <div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
          <div class="container">

            <div class="navbar-header">
              <a class="navbar-brand" href="/">Tapat</a>
            </div>
    
            <div class="navigation">
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <nav>
                  <ul class="nav navbar-nav navbar-right">
                    <li class="current"><a href="#intro" class="sliding-link">Home</a></li>
                    <li><a href="#about" class="sliding-link">About</a></li>
                    <li><a href="#officers" class="sliding-link">Officers</a></li>
                    <li><a href="#forum" class="sliding-link">Forum</a></li>
                    {{#if UserLogged}}
                      <li><a href="#editprof" class="sliding-link">Edit Profile</a></li>
                    {{else}}
                      <li><a href="#login" class="sliding-link">Login</a></li>
                    {{/if}}
                    
                  </ul>
                </nav>
              </div>

            </div>
    
          </div>
        </div>
    
</header>