<section id="officers">
    <div class="title">
        <h2 style="color:#2f2f2f; font-size: 40px;">Officers</h2>
    </div>
    <div id="officerwrap">
        <div class="officer">
            <div class="officepic" id="pres"></div>
            <div class="officetext">
                <text class="officename">Ken Azcarraga</text>
                <text class="officedesc">President</text>
            </div>
            <div class="medialinks">
                <ul class="social-profile">
                    <li><a href="#"><img src="https://img.icons8.com/android/18/000000/facebook-new.png"></a></li>
                    <li><a href="#"><img src="https://img.icons8.com/android/18/000000/twitter.png"></a></li>
                </ul>
            </div>
        </div>
        <div class="officer">
            <div class="officepic" id="inter"></div>
            <div class="officetext">
                <text class="officename">JM Cifra</text>
                <text class="officedesc">Vice President of Internal Affairs</text>
            </div>
            <div class="medialinks">
                <ul class="social-profile">
                    <li><a href="#"><img src="https://img.icons8.com/android/18/000000/facebook-new.png"></a></li>
                    <li><a href="#"><img src="https://img.icons8.com/android/18/000000/twitter.png"></a></li>
                </ul>
            </div>
        </div>
        <div class="officer">
            <div class="officepic" id="exter"></div>
            <div class="officetext">
                <text class="officename">Paolo Driz</text>
                <text class="officedesc">Vice President of External Affairs</text>
            </div>
            <div class="medialinks">
                <ul class="social-profile">
                    <li><a href="#"><img src="https://img.icons8.com/android/18/000000/facebook-new.png"></a></li>
                    <li><a href="#"><img src="https://img.icons8.com/android/18/000000/twitter.png"></a></li>
                </ul>
            </div>
        </div>
        <div class="officer">
            <div class="officepic" id="legal"></div>
            <div class="officetext">
                <text class="officename">JV Fernandez</text>
                <text class="officedesc">Vice President of Legal Affairs</text>
            </div>
            <div class="medialinks">
                <ul class="social-profile">
                    <li><a href="#"><img src="https://img.icons8.com/android/18/000000/facebook-new.png"></a></li>
                    <li><a href="#"><img src="https://img.icons8.com/android/18/000000/twitter.png"></a></li>
                </ul>
            </div>
        </div>
        <div class="officer">
            <div class="officepic" id="ops"></div>
            <div class="officetext">
                <text class="officename">Raeman Corpuz</text>
                <text class="officedesc">Vice President of Operations</text>
            </div>
            <div class="medialinks">
                <ul class="social-profile">
                    <li><a href="#"><img src="https://img.icons8.com/android/18/000000/facebook-new.png"></a></li>
                    <li><a href="#"><img src="https://img.icons8.com/android/18/000000/twitter.png"></a></li>
                </ul>
            </div>
        </div>
    </div>	
</section>