<section id="login">
    <div class="title" style="padding-bottom: 10vh">
        <h2 style="color:#2f2f2f; font-size: 40px;">Profile</h2>
    </div>
    <div>
            <label style="font-family: 'Lato';font-weight: 800;">Username: </label> {{username}}
            <br>
            <label style="font-family: 'Lato';font-weight: 800;">First Name: </label> {{firstName}}
            <br>
            <label style="font-family: 'Lato';font-weight: 800;">Last Name: </label> {{lastName}}
            <br>
            <label style="font-family: 'Lato';font-weight: 800;">Email: </label> {{email}}
            <br>
            <a href="/editprofile"><input type="button" class="logbutton" value="EDIT PROFILE"></a>
            {{#ifCond userType "Admin"}}
            <br>
            <br>
            <a href="/adminpromotion"><input type="button" class="logbutton" value="ADMIN OPTIONS"></a>
            {{/ifCond}}
            <br>
            <br>
            <a href="/logout"><input type="button" class="logbutton" value="LOGOUT"></a>
    </div>
    
</section>