<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>

    <!-- HEADER MENU -->
    {{>navbarnone}}
    <!-- END HEADER MENU -->

	<!-- ABOUT US -->
	<section id="signup">
        <div class="signpic"></div>
        <div class="signtext">
            <h2 style="color:#dbdbdb; font-size: 24px;">Change is Inevitable</h2><br>
            <h4 style="color: #dbdbdb; font-size: 16px;">Edit your profile details here</h4>
            <form style="color: #dbdbdb; margin-top: 7vh;" id="sign">
                <label>First Name*</label>
                <input type="text" placeholder="First Name" id="firstname">
                <label>Last Name*</label>
                <input type="text" placeholder="Last Name" id="lastname">
                <label>Email*</label>
                <input type="email" placeholder="*@dlsu.edu.ph" id="email">
                <label>Username* (4-32 characters)</label>
                <input type="text" placeholder="e.g. cutesicarlo" id="username">
                <label>Password* (4-32 characters)</label>
                <input type="password" placeholder="Password" id="password">
                <input type="button" class="logbutton" value="SAVE CHANGES">
            </form>
        </div>
    </section>

</body>
</html>