<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>

    <!-- HEADER MENU -->
    {{>navbarnone}}
    <!-- END HEADER MENU -->

	<!-- ABOUT US -->
	<section id="signup">
        <div class="signpic"></div>
        <div class="signtext">
            <h2 style="color:#dbdbdb; font-size: 24px;">Together with Unity and Collective Effort</h2><br>
            <h4 style="color: #dbdbdb; font-size: 16px;">Sign up to join our discussions!</h4>
            <form style="color: #dbdbdb; margin-top: 7vh;" id="sign" action="/signup" method="POST">
                <label>First Name*</label>
                <input type="text" placeholder="First Name" name="firstname">
                <label>Last Name*</label>
                <input type="text" placeholder="Last Name" name="lastname">
                <label>Email*</label>
                <input type="email" placeholder="*@dlsu.edu.ph" name="email">
                <label>Username* (4-32 characters)</label>
                <input type="text" placeholder="e.g. cutesicarlo" name="username">
                <label>Password* (4-32 characters)</label>
                <input type="password" placeholder="Password" name="password">
                <button type="submit" class="logbutton">REGISTER</button>
            </form>
        </div>
    </section>

</body>
</html>